  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #000000;
      color: #ffffff;
      font-family: Helvetica, Arial, sans-serif;
      padding: 25px;
    }
    
    h1 {
      font-size: 36px;
      font-weight: 300 !important;
      margin-bottom: 12px;
    }
    
    p {
      font-size: 14px;
      font-weight: 300 !important;
      margin-bottom: 30px;
      max-width: 600px;
    }
    
    #canvas-container {
      display: inline-block;
    }
